__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
*.env
*.log
*.pot
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
dist
build
.eggs/
*.mo
*.swp
*.swo
.idea/
.vscode/
.DS_Store
/static/
/media/
/pgdata/
*.coverage
htmlcov/
migrations/