# Core
Django>=5.0
psycopg[binary]
djangorestframework
djangorestframework-simplejwt
weasyprint
django-cors-headers
whitenoise
django-filter
django-anymail[mailchimp]

# API Docs
drf-spectacular

# Testing
pytest
pytest-django
pytest-cov
factory-boy

#deployment
gunicorn